[Desktop Entry]
Version=1.0
Type=Application

Name=SM64AP-Launcher
Comment=Build and Manage SM64 PC Port Instances
Categories=Game;Qt;

Exec=SM64APLauncher
Icon=io.github.n00byking.sm64ap-launcher
Terminal=false
